<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287075924720-00non2v5k4uo5l9ac095tbncaaqkm4qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287075924720-00non2v5k4uo5l9ac095tbncaaqkm4qh</string>
	<key>API_KEY</key>
	<string>AIzaSyB5lbkmEaOOnDuEk0-0LJIk_TTI1yDpu8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>287075924720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raphael.AppMusic</string>
	<key>PROJECT_ID</key>
	<string>appmusic-e13cc</string>
	<key>STORAGE_BUCKET</key>
	<string>appmusic-e13cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287075924720:ios:494dd44859204c9b2a6035</string>
</dict>
</plist>